apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  # 专 转 住驻专 专驻拽转 专爪
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # 转 转转 砖 拽抓 values.yaml
        image: "{{ .Values.backend.image }}:{{ .Values.backend.tag }}"
        ports:
        - containerPort: 8000
        env:
        
        #  POSTGRES_USER 砖 转 -Kubernetes Secret
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: backend-db-secret # 砖 -Secret 砖爪专 拽抓 backend-secret.yaml
              key: postgres-user      # 驻转 转 -Secret
              
        #  POSTGRES_PASSWORD 砖 转 -Kubernetes Secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-db-secret
              key: postgres-password
              
        - name: POSTGRES_DB
          value: {{ .Values.postgres.database.name | quote }} 
          
        #  专 (Host)  砖 -Service 砖 住 转 K8S.
        # 注专  专 专拽  PostgreSQL 专抓 -Pod 转 砖.
        - name: DB_HOST
          value: "my-postgres-service" 

        # 专转 Liveness -Readiness Probes 拽转 转拽转 拽专
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # 转 转转 砖 拽抓 values.yaml
        image: "{{ .Values.frontend.image }}:{{ .Values.frontend.tag }}"
        ports:
        - containerPort: 80
        imagePullPolicy: {{ .Values.frontend.imagePullPolicy | default "IfNotPresent" }}
