trigger:
- dev

variables:
    imageName: "my-app"
    azureContainerRegistry: 'myacrbucket.azurecr.io'
    tag: '$(Build.BuildId)'


stages:
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and push image to ACR
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        containerRegistry: 'myACRConnectionName' # שם חיבור השירות
        tags: |
          $(tag)