version: '3.8'

services:
  # 1. Backend
  backend:
    build: ./backend
    container_name: my_backend
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=prod_db
    depends_on:
      - db

  # 2. Frontend
  frontend:
    build: ./frontend
    container_name: my_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  # 3. Database
  db:
    image: postgres:13
    container_name: my_postgres
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=prod_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 4. Monitoring - Prometheus
  prometheus:
    image: prom/prometheus
    container_name: my_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # 5. Monitoring - Grafana
  grafana:
    image: grafana/grafana
    container_name: my_grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

volumes:
  postgres_data:
