backend:
  #  转拽: 砖 拽
  image: app_azure-backend
  tag: latest
  imagePullPolicy: IfNotPresent 
  secrets:
    DB_USER: "user" 
    DB_PASSWORD: "password" 

frontend:
  #  转拽: 砖 拽
  image: app_azure-frontend
  tag: latest
  imagePullPolicy: IfNotPresent

agent:
  #  转拽: 砖 拽
  image: app_azure-agent
  tag: latest
  masterUrl: "http://backend:8000/api/agent/data" 
  imagePullPolicy: IfNotPresent
  
 
postgres:
  image: postgres:15-alpine
  serviceName: my-postgres-service 
  persistence:
    enabled: true
    #  转拽 4: 砖 专拽 (专专转  砖 Minikube) 拽 'standard' 砖 AKS
    storageClass: "" 
    accessMode: ReadWriteOnce
    size: 5Gi
  database:
    #  转拽 5: 砖 住 砖拽注 -docker-compose
    name: mydb

